<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des Reservations</title>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            margin: 0px;
            background-color: #000;
            color: #fff;
            margin-top: 15%;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #000;
            border-bottom: 2px solid #fff;
            padding-bottom: 10px;
        }

        h2 {
            text-align: left;
            margin-bottom: 20px;
            color: rgb(255, 0, 0);
            
            line-height: normal;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            border: 1px solid #fff;
            padding: 10px;
            margin-bottom: 10px;
            background-color: #333;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        }

        strong {
            font-weight: bold;
        }

        .btn {
            padding: 5px 10px;
            margin-left: 10px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 14px;
        }

        .btn-update {
            background-color: #007bff;
            color: white;
            border: none;
        }

        .btn-delete {
            background-color: #dc3545;
            color: white;
            border: none;
        }

        .btn-reserver {
            background-color: #28a745;
            color: white;
            border: none;
        }

        .btn:hover {
            opacity: 0.8;
        }

        a {
            color: #fff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <%- include('navbar') %>

    <h1>Liste des Reservations</h1>

    <ul>
        <% reservations.forEach(function(reservations) { %>
            <li>
                <strong>ID:</strong> <%= reservations._id %> <br>
                <strong>Salle ID:</strong> <%= reservations.salleId  %>, <br>
                <strong>Date de début:</strong> <%= reservations.startTime %> <br>
                <strong>Date de fin:</strong> <%= reservations.endTime %> 
                <button class="btn btn-update" onclick="updateReservation('<%= reservations._id %>')">Update</button>
                <button class="btn btn-delete" onclick="deleteReservation('<%= reservations._id %>')">Delete</button>
            </li>
        <% }); %>
    </ul>
    
    <script>
        function updateReservation(id) {
            window.location.href = '/reservation/update/' + id;
        }

        function deleteReservation(id) {
            if (confirm('Êtes-vous sûr de vouloir supprimer cette salle ?')) {
                // Envoyer une requête DELETE pour supprimer la salle
                fetch('/reservation/' + id, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                });    
                window.location.href = window.location.href; 
            }
        }
    </script>
<%- include('footer') %>
</body>
</html>